<div id="archive-type-<%= post.layout %>" class="ibox">
    <div class="ibox-content blog">
        <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'MMM D'}) %>
        <%- partial('post/title', {class_name: 'archive-article-title'}) %>
    </div>
</div>
