<% if (post.tags && post.tags.length){ %>
    <h5>Tags:</h5>
    <%
        var tags = post.tags;

        tags = tags.sort('name', 1);

        // Ignore tags with zero posts
        tags = tags.filter(function(tag) {
            return tag.length;
        });

        var x = 0;
        var y = 4;
        var b = 1;
        tags.forEach(function(tag){ %>

            <% if(x == y){ %>
                <br>
                <br>
                <% x = 0 %>
             <% } else{ %>  
                <% x++ %>
            <% } %>

            <% if(b == 1){ %>
                <button class="btn btn-primary btn-xs" onclick="window.location='<%- url_for(tag.path) %>';" type="button">
                    <%= tag.name %>
                </button>
                <% b++ %>
            <% } else{ %>
                <% b = 1 %>
                <button class="btn btn-danger btn-xs" onclick="window.location='<%- url_for(tag.path) %>';" type="button">
                    <%= tag.name %>
                </button>
            <% } %>

        <% }) %>
<% } %>
