<% if (site.posts.length){ %>
<div class="row">
        <div class="ibox float-e-margins">
            <!--BEGIN ibox-title-->
            <div class="ibox-title">
                <h5>Archives</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <!--END ibox-title-->
            <!--BEGIN ibox-content-->
            <div class="ibox-content">
                    <%- list_archives() %>
            </div>
            <!--END ibox-content-->
    </div>
</div>
<!--END row-->




<% } %>
