<% if (site.tags.length){ %>
<!--BEGIN row-->
<div class="row">
        <!--Begin Table-->
        <div class="ibox float-e-margins">
            <!--BEGIN ibox-title-->
            <div class="ibox-title">
                <h5>Tags</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <!--END ibox-title-->
            <!--BEGIN ibox-content-->
            <div class="ibox-content">
                <table class="table table-striped">
                    <tbody>

                    <%
                    var tags = site.tags;

                    tags = tags.sort('name', 1);

                    // Ignore tags with zero posts
                    tags = tags.filter(function(tag) {
                    return tag.length;
                    });

                    tags.forEach(function(tag){ %>
                    <tr>
                        <td style="word-break:break-all;"><%= tag.name %> (<%= tag.length %>) </td>
                        <td style="word-break:break-all;"><a href="<%- url_for(tag.path) %>"><%= tag.name %> </a></td>
                    </tr>
                    <% }) %>

                    </tbody>
                </table>
                <!--END Table-->
            </div>
            <!--END ibox-content-->
    </div>
</div>
<!--END row-->
<% } %>
